<footer class="mt-auto bg-navy">
  <p class="text-sm text-slate-500">
    Made with 🤍 by 
    <a href="https://github.com/masoudsoleymani"
      target="_blank"
      rel="noopener noreferrer"
      class="text-slate-400 transition hover:text-slate-lightest"
    >
      masoudsoleymani
    </a>
  </p>
</footer>
